main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #EFF4FA;
    padding: 0 5%;
}
.pokemon-name{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 48px;
    color: #233674;
}
.cod-type{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cod-type-info{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    color: #233674
}
.description{
    display: flex;
    flex-direction: column;
}
.description-name{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    color: #233674;
}
.description-info{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #233674;
}
.info{
    display: flex;
    flex-direction: column;
}
.info-group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.info-title{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    color: #233674;
}
.info-name{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #233674;
}
.second-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.second-section img{
    width: 50%;
}