<main>
    <section>
        <p class="title-home">Explore o mundo dos <b class="pokemon">Pokémons</b> </p>
        <small class="subtitle-home">Descubra todas as espécies de Pokémons</small>
        <form [formGroup]="form" class="form">
            <input formControlName="term" type="text">
            <button (click)="searchPokemon()">Buscar</button>
        </form>
    </section>
    <section class="second-section">
        <img class="img-1" src="/assets/img-home-1.png" alt="">
        <img class="img-2" src="/assets/img-home-2.png" alt="">
        <img class="img-3" src="/assets/img-home-3.png" alt="">
    </section>
</main>

<main>
    <section>
        <p class="title-section">Pokedex</p>
        <div class="cards">
            <ng-container *ngFor="let pokemon of pokes">
                <app-card [pokemon]="pokemon"></app-card>
            </ng-container>
        </div>
        
        
    </section>
</main>